## Pandas

## Data analysis library

### It has 3 data structures:
    1. Series (one dim ds)
    2. DataFrame (2D ds)
    3. Panel (Combination of Series and df)

# Series-1D

In [1]:
import pandas as pd
pd

pd.Series(data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,)

In [3]:
print(pd.Series())

Series([], dtype: float64)

/srv/conda/envs/notebook/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [4]:
#how to create empty series
pd.Series(dtype='object')

Series([], dtype: object)

In [5]:
#how to add data
data = [10,20,30,40,50]
pd.Series(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

Series is composed of 2 things: index(label),values(data)
Index/label    values
0               10
1               20
2               30
3               40

### if u want to change index?

In [15]:
pd.Series(data,index=[101,102,103,104,105])

101    10
102    20
103    30
104    40
105    50
dtype: int64

### want to change dtype?

In [16]:
pd.Series(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [25]:
pd.Series(data,dtype='float16')

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float16

# pd.Series(data,index,dtype,name)

In [26]:
pd.Series(['Vishal','Kedar','Juber','Anupama','Pradnya'])

0     Vishal
1      Kedar
2      Juber
3    Anupama
4    Pradnya
dtype: object

In [27]:
pd.Series([1,23.44,'A'])

0        1
1    23.44
2        A
dtype: object

In [30]:
#int ==> str conversiion of series
pd.Series([1,2,3,4],dtype='object')

0    1
1    2
2    3
3    4
dtype: object

In [4]:
pd.Series([1,2,3,4],name='s')

0    1
1    2
2    3
3    4
Name: s, dtype: int64

In [6]:
s = pd.Series(['  alok','Pradnya **',' Aj$ ay'])

In [7]:
s

0          alok
1    Pradnya **
2        Aj$ ay
dtype: object