In [1]:
import pandas as pd

In [5]:
s = pd.Series([10,20,30,40],['A','B','C','D'])
s

A    10
B    20
C    30
D    40
dtype: int64

In [6]:
# series=data+index+dtype
s.values

array([10, 20, 30, 40])

In [7]:
#index
s.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [8]:
s.dtype

dtype('int64')

## summarized report on the series

In [9]:
s.describe()

count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
dtype: float64

In [10]:
s

A    10
B    20
C    30
D    40
dtype: int64

In [11]:
import numpy as np
s = pd.Series(np.arange(1,12))
s

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int64

## fetch first 5 entries

In [12]:
s.head()#default head gives 5 entries

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
# first 2 entries
s.head(2)

0    1
1    2
dtype: int64

## fetch last 5 entries

In [14]:
s.tail()

6      7
7      8
8      9
9     10
10    11
dtype: int64

In [15]:
s.tail(2)

9     10
10    11
dtype: int64

In [16]:
s.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [17]:
g = pd.Series([10,20,10,10])
g

0    10
1    20
2    10
3    10
dtype: int64

## Fetch unique reocrds from g

In [18]:
g.unique()

array([10, 20])

## count the total unique records present in g

In [19]:
g.nunique()

2

### it will tell u, occurance of each unique record

In [20]:
g

0    10
1    20
2    10
3    10
dtype: int64

In [21]:
g.value_counts()

10    3
20    1
dtype: int64

In [22]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [23]:
s2 = pd.Series([4,5,6,7])
s2

0    4
1    5
2    6
3    7
dtype: int64

In [24]:
s1+s2#elementwise addition
#NaN stands for Not a number

0    5.0
1    7.0
2    9.0
3    NaN
dtype: float64

## append 2 series

In [25]:
s1,s2

(0    1
 1    2
 2    3
 dtype: int64,
 0    4
 1    5
 2    6
 3    7
 dtype: int64)

In [26]:
s1.append(s2)

0    1
1    2
2    3
0    4
1    5
2    6
3    7
dtype: int64

In [27]:
s1.append(s2,ignore_index=True)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [31]:
s1

0    1
1    2
2    3
dtype: int64

In [33]:
s1.pop(0)

1

In [34]:
s1

1    2
2    3
dtype: int64

In [35]:
s

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int64

In [38]:
#Return the largest `n` elements.=5
s.nlargest()#based on the data

10    11
9     10
8      9
7      8
6      7
dtype: int64

In [39]:
s.nlargest(3)

10    11
9     10
8      9
dtype: int64

In [40]:
s.nsmallest()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [41]:
s.nsmallest(3)

0    1
1    2
2    3
dtype: int64

In [42]:
f = pd.Series([2,5,5,1,5,2,5])
f

0    2
1    5
2    5
3    1
4    5
5    2
6    5
dtype: int64

In [43]:
f.nlargest()

1    5
2    5
4    5
6    5
0    2
dtype: int64

In [44]:
f.nlargest(keep='last')

6    5
4    5
2    5
1    5
5    2
dtype: int64

In [45]:
f

0    2
1    5
2    5
3    1
4    5
5    2
6    5
dtype: int64

In [52]:
f.astype('int32')

0    2
1    5
2    5
3    1
4    5
5    2
6    5
dtype: int32

In [53]:
f.astype('category')

0    2
1    5
2    5
3    1
4    5
5    2
6    5
dtype: category
Categories (3, int64): [1, 2, 5]

In [54]:
h = pd.Series(['HR','Tester','HR','Developer'])
h

0           HR
1       Tester
2           HR
3    Developer
dtype: object

In [55]:
h.astype('category')

0           HR
1       Tester
2           HR
3    Developer
dtype: category
Categories (3, object): ['Developer', 'HR', 'Tester']

In [56]:
h.ndim

1

In [58]:
g

0    10
1    20
2    10
3    10
dtype: int64

In [64]:
g.dtype

dtype('int64')

In [69]:
g

0    10
1    20
2    10
3    10
dtype: int64

In [71]:
#Compute correlation with `other` Series
s1.corr(s2)

0.9999999999999999

In [2]:
s

NameError: name 's' is not defined

In [73]:
#Replace values where the condition is False.
s.where(s<5)

0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
dtype: float64

In [74]:
s.where(s<5,other=0)

0     1
1     2
2     3
3     4
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [75]:
s

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int64

In [76]:
s.where(s<5,0,inplace=True)

In [77]:
s

0     1
1     2
2     3
3     4
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

# Dealing with missing values

In [80]:
z = pd.Series([np.nan,10,np.nan,20,np.nan])
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [81]:
z.isna()
#bool series will be output

0     True
1    False
2     True
3    False
4     True
dtype: bool

### calculate total nan present in series

In [83]:
z.isna().sum()

3

In [84]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

# fill nan

In [86]:
z.fillna(0)

0     0.0
1    10.0
2     0.0
3    20.0
4     0.0
dtype: float64

In [87]:
z.fillna('missing')

0    missing
1         10
2    missing
3         20
4    missing
dtype: object

In [89]:
z.mean()

15.0

### fill nan values using mean()

In [90]:
z.fillna(z.mean())

0    15.0
1    10.0
2    15.0
3    20.0
4    15.0
dtype: float64

### forward filling

In [91]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [92]:
z.ffill()#top to bottom

0     NaN
1    10.0
2    10.0
3    20.0
4    20.0
dtype: float64

## backward filling

In [94]:
z

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

In [93]:
z.bfill()#bottom to top

0    10.0
1    10.0
2    20.0
3    20.0
4     NaN
dtype: float64

In [95]:
z.max()

20.0

In [96]:
z.min()

10.0

In [97]:
z.mean()

15.0

In [98]:
z.median()

15.0

In [ ]:
medium.com
machinelearningmastry
https://www.kdnuggets.com/topic/data-science